<h1>parking list</h1>
<%= link_to 'New Parking', new_parking_path %>
<table>
	<thead>
		<tr>
			<th>Parking Name</th>
			<th colspan="3">Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @parkings.each do |parking| %>
			<tr>
				<td><%= parking.name %></td>
				<td><%= link_to 'View', parking %></td>
				<td><%= link_to 'Edit', edit_parking_path(parking) %></td>
				<td><%= link_to 'Delete', parking, data: { "turbo-method": :delete } %></td>
			</tr>
		<% end %>
	</tbody>
</table>
