<%= form_with model: car do |form| %>

	<% if @car.errors.any? %>
		<% @car.errors.full_messages.each do |message| %>
			<p><%= message %></p>
		<% end %>
	<% end %>

	<div>
		<%= form.label :color %>
		<%= form.text_field :color %>
	</div><br> 
	<div>
		<%= form.label :registration_number %>
		<%= form.text_field :registration_number %>
	</div>

	<div>
		<%= form.submit %>
	</div>
	
<% end %>